body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f5e4b9;
    
}

header{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    margin-bottom: 1px;
    font-size: 3rem;
    color: #39ab5f;
}


p{
    margin-top: 0;
    text-align: center;
    font-size: 1.3rem;
    color: #4d3c20cb;
    font-weight: 600;
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    border-radius: 5px;
    width: 400px;
    background-color: #fefae0;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
    outline: none;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;

}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    color: #81572c;
    border-color: #c79767;
    position: relative;
}

.list li .fa-trash{
    color: #f07167;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li .fa-circle-check{
    color: #5adf86;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked{
    color: #85705c;
    text-decoration: line-through;

}

.list li.checked .fa-circle-check{
    color: #85705c;
    ;
}